{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cosme Vrai</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    </head>
    
    <body class="{% block body_class %}{% endblock %}">    
        <!--共通　ヘッダー（固定）-->
        <header class="main-header">
            <h1 class="header-title">
                <a href="{% url 'form_app:home' %}">Cosme Vrai</a>
            </h1>

            {% block header_auth %}
                {% with request.resolver_match.url_name as url_name %}
                    {% if user.is_authenticated %}
                        
                        <form method="post"
                                action="{% url 'form_app:logout' %}"
                                id="logout-form">
                            {% csrf_token %}

                            <button type="button"
                                    class="btn btn-sm btn-outline-danger js-confirm"
                                    data-form="logout-form"
                                    data-message="ログアウトしますか？"
                                    data-confirm="実行">
                                ログアウト
                            </button>
                        </form>

                    {% else %}
                        {% if url_name != "login" %}
                            <a href="{% url 'form_app:login' %}" class="btn btn-primary btn-sm">
                                ログイン
                            </a>            
                        {% endif %}
                    {% endif %}
                {% endwith %}
            {% endblock %}

        </header>
    
        <!--子テンプレ内容を定義-->
        <main class="main-content">
            {% block content %}
            {% endblock content %}
        </main>    

        <!--フッター固定-->    
        <footer class="mobile-footer-nav">
            <ul class="nav-list">
                <!--常時表示ホーム、ランキング、お気に入り-->
                <li class="nav-item">
                    <a href="{% url 'form_app:home' %}" class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <span class ="emoji">🏠</span>
                        <span>ホーム</span>
                    </a>       
                </li>
                <li class="nav-item">
                    <a href="{% url 'form_app:ranking_all' %}" class="nav-link {% if request.resolver_match.url_name == 'ranking_all' %}active{% endif %}">
                        <span class ="emoji">👑</span>
                        <span>ランキング</span>
                    </a>       
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'form_app:favorite_review_list' %}" class="nav-link {% if request.resolver_match.url_name == 'favorite_review_list' %}active{% endif %}">
                            <span class ="emoji">♡</span>
                            <span>お気に入り</span>
                        </a>
                    {% else %}
                        <a href="{% url 'form_app:login' %}?next={% url 'form_app:favorite_review_list' %}" class="nav-link">
                            <span class ="emoji">♡</span>
                            <span>お気に入り</span>
                        </a>
                    {% endif %}   
                </li>                          

                <!--認証状態に応じて、マイページ-->
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <!--管理者-->
                            <a href="{% url 'form_app:admin_my_page'%}" class="nav-link {% if request.resolver_match.url_name == 'admin_my_page' %}active{% endif %}" >
                                <span class ="emoji">👤</span>
                                <span>運営ページ</span>
                            </a>
                        {% else %}
                            <!--一般ユーザー-->
                            <a href="{% url 'form_app:my_page' %}" class="nav-link {% if request.resolver_match.url_name == 'my_page' %}active{% endif %}" >
                                <span class ="emoji">👤</span>
                                <span>マイページ</span>
                            </a>
                        {% endif %}
                    
                    {% else %}
                        <!--未ログイン-->    
                        <a href="{% url 'form_app:login' %}" class="nav-link" >
                            <span class ="emoji">👤</span>
                            <span>ログイン</span>
                        </a>
                    {% endif %}
                </li>
            </ul>
        </footer>

        {% block extra_js %}{% endblock %}


        <!-- モーダル -->
        <div class="modal hidden" id="confirmModal">
            <div class="modal-content">

                <span class="modal-close js-modal-close">×</span>

                <p id="modalMessage"></p>

                <div class="button-list middle">
                    <button type="button" class="btn btn-sm btn-secondary js-modal-close">
                        キャンセル
                    </button>

                    <button type="button" class="btn btn-sm btn-outline-danger" id="modalConfirm">
                        実行
                    </button>
                </div>
            </div>
        </div>

        <!--モーダル処理-->
        <script>
        (() => {
            const modal = document.getElementById("confirmModal");
            const message = document.getElementById("modalMessage");
            const confirmBtn = document.getElementById("modalConfirm");
            
            let targetForm = null;
            let isSubmitting = false;

            function openModal(formId, text, confirmText){
                targetForm = document.getElementById(formId);
                isSubmitting = false;

                confirmBtn.disabled = false;
                confirmBtn.style.opacity = "";
                message.textContent = text || "本当に実行しますか？";
                confirmBtn.textContent = confirmText ||  "実行";
                modal.classList.remove("hidden");
            }

            function closeModal(){
                modal.classList.add("hidden");
                targetForm = null;
                isSubmitting = false;
            }

            document.addEventListener("click", (e) => {
                const btn = e.target.closest(".js-confirm");
                if(!btn) return;

                openModal(
                    btn.dataset.form,
                    btn.dataset.message,
                    btn.dataset.confirm
                );
            });

            confirmBtn.addEventListener("click", () => {
                if(!targetForm || isSubmitting) return;

                isSubmitting = true;
                confirmBtn.disabled = true;
                confirmBtn.style.opacity = "0.6";

                targetForm.submit();
            });

            document.querySelectorAll(".js-modal-close") 
                .forEach(btn => btn.addEventListener("click", closeModal));

            // 背景クリックで閉じる
            modal.addEventListener("click", (e) => {
                if (e.target === modal) closeModal();
            });
        })();
        </script>

        <!--リンク処理-->
        <script>
        document.addEventListener("click", (e) => {
            const link = e.target.closest(".js-once-link");
            if (!link) return;

            if (link.dataset.clicked === "true") {
                e.preventDefault();
                return;
            }

            link.dataset.clicked = "true";
            link.style.pointerEvents = "none";
            link.style.opacity = "0.6";
        });
        </script>
        
    </body>
</html>