{% extends "base.html" %}
{% block content %}

<h1 class="page-title">パスワード変更</h1>

<form method="post">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ next }}">

  {% if form.non_field_errors %}
    <div class="errorlist">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <p>
    現在のパスワード<br>
    {{ form.old_password }}<br>
    {{ form.old_password.errors }}
  </p>

  <p>
    新しいパスワード
    {{ form.new_password1 }}
    {{ form.new_password1.errors }}
    <small class="help">　8文字以上の英数字を含むパスワードを設定してください</small>
  </p>

  <p>
    新しいパスワード（確認用）
    {{ form.new_password2 }}
    {{ form.new_password2.errors }}
    <small class="help">　確認のため、再度パスワードを入力してください</small>
  </p>

  <div class="form-actions vertical">
    <button type="submit" class="btn btn-primary">変更する</button>
    <a href="{{ next|default:'/' }}" class="link-cancel">キャンセル</a>
  </div>

</form>

{% endblock %}