{% extends "base.html" %}
{% block content %}

<h1>パスワード変更</h1>

<form method="post">
  {% csrf_token %}

  {% if form.non_field_errors %}
    <div class="errorlist">
      {{ form.non_field_errors }}
    </div>
  {% endif %}

  <p>
    現在のパスワード<br>
    {{ form.old_password }}<br>
    {{ form.old_password.errors }}
  </p>

  <p>
    新しいパスワード<br>
    {{ form.new_password1 }}<br>
    {{ form.new_password1.errors }}<br>
    <small class="help">8文字以上の英数字を含むパスワードを設定してください</small>
  </p>

  <p>
    新しいパスワード（確認用）<br>
    {{ form.new_password2 }}<br>
    {{ form.new_password2.errors }}<br>
    <small class="help">{{ form.new_password2.help_text }}</small>
  </p>

  <button type="submit" class="btn btn-primary">変更する</button><br>
  <a href="{% url 'form_app:my_page' %}" class="link-cancel">キャンセル</a>
</form>

{% endblock %}