<!--base.htmlを継承-->
{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="product-page">
        <h1 class="page-title">レビュー一覧</h1>

        {% if user.is_authenticated %}
            <a href ="{% url 'form_app:review_create' product.id %}" 
                class="btn btn-secondary  js-once-link">
                ✍レビュー投稿
            </a>
        {% endif %}

    </div>

    <div class="product-summary">
        {% if product.image %}
            <img src="{{ product.image.url }}" class="product-detail-image">
        {% endif %}

        <div class="product-meta">
            <h2 class="product-title">{{ product.cosme_name }}</h2>
            <p class="product-price">￥{{ product.price }}</p>
        </div>
    </div>

    <div class="latest-review-area">   
        {% if reviews %}
            {% for review in reviews %}
                <div class="review-card">

                    <div class="review-image">
                        {% if review.image %}
                            <img src="{{ review.image.url }}" class="mypage-review-image" alt="レビュー画像">
                        {% elif product.image %}
                            <img src="{{ product.image.url }}" class="mypage-review-image" alt="商品画像">
                        {% endif %}
                    </div>
        
                    <div class="review-body">
                        <div class="review-header">
                            <h3 class="review-title">
                                {{ review.user.username }}さん（{{ review.get_skin_type_display }}／{{ review.get_age_display }}）
                            </h3>

                            <div class="favorite-area">
                                <!-- ♡ -->
                                {% if user.is_authenticated %}
                                    <form action="{% url 'form_app:review_favorite' review.id %}" method="post">
                                        {% csrf_token %}
                                        <button class="favorite-btn" type="submit">
                                            <span class="favorite-mark">
                                                {% if review.is_favorited %}♥{% else %}♡{% endif %}
                                            </span>
                                        </button>
                                    </form>
                                    <span class="favorite-count">{{ review.favorites.count }}</span>
                                {% else %}
                                    <span>♥{{ review.favorites.count }}</span>
                                {% endif %}
                            </div>
                        </div>

                        {% with review.rating as rate %}
                            <p class="rating-display">
                                {% for i in "12345" %}
                                    {% if forloop.counter <= rate %}★{% else %}☆{% endif %}
                                {% endfor %}
                                <span class="rating-number">{{ rate }}</span>
                            </p>
                        {% endwith %}

                        <p><strong>良い点</strong><br>{{ review.goodpoint_comment|linebreaksbr }}</p>
                        <p><strong>悪い点</strong><br>{{ review.badpoint_comment|linebreaksbr }}</p>

                    </div>
                </div>
            {% endfor %}

        {% else %}
            <p>まだレビューはありません</p>
        {% endif %}
</div>

{% endblock content %}    
