{% extends "base.html" %}

{% block content %}
<h1 class="page-title">商品一覧（運営用）</h1>

<div class="product-grid">
  {% for product in products %}
    <div class="product-card">

      {% if product.image %}
        <img src="{{ product.image.url }}" class="product-image" alt="{{ product.cosme_name }}の商品画像">
      {% endif %}

      <div class="product-info">
        <h3 class="product-name">商品名：{{ product.cosme_name }}</h3>
        <p class="product-meta">
          カテゴリー：{{ product.category }}<br>
          価格（円）：￥{{ product.price }}
        </p>
      </div>

      <div class="product-actions">
        <form method="get" action="{% url 'form_app:product_edit' product.id %}">
          <button type="submit" class="btn btn-sm btn-secondary">編集</button>
        </form>

        <form method="post" 
              action="{% url 'form_app:product_delete' product.id %}"
              id="delete-product-{{ product.id }}">
          {% csrf_token %}

          <button type="button" 
                  class="btn btn-sm btn-outline-danger js-confirm"
                  data-form="delete-product-{{ product.id }}"
                  data-message="本当に削除しますか？"
                  data-confirm="削除">
            削除
          </button>
        </form>
      </div>
      
    </div>
  {% empty %}
    <p>商品がありません</p>
  {% endfor %}
</div>

<div class="admin-back">
  <a href="{% url 'form_app:admin_my_page' %}" class="more-link">➡運営ページに戻る</a>
</div>

{% endblock %}
