{% extends "base.html" %}
{% load static %}

{% block content %}

<h1 class="page-title">{{ user.username }}さんのレビュー一覧</h1>

<div class="review-actions">
    <a href ="{% url 'form_app:review_entry' %}" 
        class=" btn btn-secondary js-once-link">
        ✍レビュー投稿
    </a>
</div>

<div class="latest-review-area">
    {% if reviews %}
        {% for review in reviews %}
            <div class="review-card">
            
                <div class="review-image">
                    {% if review.image %}
                        <img src="{{ review.image.url }}" class="review-list-image">
                    {% elif review.product.image %}
                        <img src="{{ review.product.image.url }}" class="review-list-image">
                    {% endif %}
                </div>

                <!--年代・肌質-->
                <div class="review-body">
                    <h2>{{forloop.counter}}.  {{ review.product.cosme_name }}</h2>
                
                    <p class="review-date">
                        {{ review.posted_at|date:"Y/m/d" }}
                    </p>

                    <p class="review-meta">
                        {{ review.user.name }}
                        ({{ review.get_skin_type_display }}/{{ review.get_age_display }})
                    </p>

                    {% if review.rating %}
                        <p class="rating-display">
                            評価：{{ review.rating_stars }}
                        </p>
                    {% endif %}    

                    <p><strong>良い点</strong>：{{ review.goodpoint_comment|truncatechars:50}}</p>
                    <p><strong>悪い点</strong>：{{ review.badpoint_comment|truncatechars:50}}</p>

                    <form method="post" 
                            action="{% url 'form_app:review_delete' review.pk %}"
                            id="delete-review-{{ review.pk }}">
                        {% csrf_token %}      

                        <button type="button" 
                                class="btn btn-sm btn-outline-danger js-confirm"
                                data-form="delete-review-{{ review.pk }}"
                                data-message="本当に削除しますか？"
                                data-confirm="削除">
                            削除
                        </button>
                    </form>
                    
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>レビューはまだありません</p>
    {% endif %}
</div>

{% endblock %}