h1{
    color: pinkbeige;
}
.bg-pink-beige{
    background-color: #f4dcd6;
}
.navbar-pink-beige .nav-link{
    color: #4b4b4b;
}

/*　　PC用サイズ設定　　*/
body{
    font-size: 14px; 
    padding: 10px;
    padding-top: 100px; /* ヘッダーの高さ、余白確保*/
    /* padding-bottom: 100px; フッターの高さ、余白確保*/
}

.my-page-container{
    width: 100%;
}

/*ヘッダー　左タイトル、右ログアウト*/
.main-header {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /*高さ固定*/
    background-color: #e4b4f2 ; /* パステルパープル色 */
    color: white;
    /*bfont-family: Arial, sans-serif; */
    box-sizing: border-box;
    z-index: 1000;
}

.main-header h1 a {
    text-decoration: none;/*下線消す*/
    font-size: 30spx;
    color:black; 
    font-family: "Times New Roman";/*Yu Gothic*/
}

/* ヘッダー　ログイン・ログアウトボタン含む */
.header-logout-btn {
    margin-left: auto;
    background-color: #bbc3bc;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 16px;
    white-space: nowrap;/*折り返し防止 */
    display: inline-block;
    border-radius: 6px;
}


/* ページタイトルの中央配置 */
.page-title{
    text-align: center;
    font-size: 24px;
    margin: 30px 0 40px;
    color: #4b4b4b;
    font-family: "Yu Gothic", sans-serif;
}


/* フッターナビゲーション通常：Flexbox */
.mobile-footer-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:#f8f5f6;
    border-top: 1px solid #d6f4d9;
    z-index: 1000; /*最前面に表示*/
}

/* Flexbox有効化、横並び及び均等配置に設定　*/
.nav-list{   
    /*横並び*/
    display: flex;
    justify-content: space-around;

    list-style: none;
    margin:0;
    padding:0;
    height:55px;

    font-size: 10px;
    width: 100%;
    height:100%;
}

/*　絵文字だけ大きくする */
.nav-link.emoji{
    font-size: 50px;
    line-height: 3;
    display: block;
}

/*フッターの基本リンク*/
.mobile-footer-nav .nav-list a {
    display:  flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;/*下線削除*/
    color: rgb(14, 7, 7);/*リンクのデフォルト色*/
    width: 100%;
    height: 100%
}

/*フッターにカーソル当てた時*/
.mobile-footer-nav .nav-list a:hover {
    background-color: #d74576 ;
    color: white;
}

/*フッターをクリックした時*/
.mobile-footer-nav .nav-list a:active {
    background-color: #cc7592 ;
    transform: translateY(1px);
}


.registration-container form p label{
    display: block;
}

.registration-container form p input[type="text"],
.registration-container form p input[type="email"],
.registration-container form p input[type="password"],
.registration-container form p selct{
    display: block;
    width: 100%;
    box-sizing: border-box;
}


.nav-item {
    flex-grow: 1;  /*均等貼り付け＋横並び*/
    text-align: center;  /*中央寄せ*/
} 

.action-row{
    display: flex;
    gap: 12px;
    margin: 20px 0;
}

/*レビュー画面ヘッダー*/
.review-header{
    display: flex;
    justify-content: space-between;/*左一覧リンク、右投稿ボタン*/
    align-items: center;
    margin-bottom: 20px;
}

.review_date{
    font-size:12px;
    color:black;
}

.review-item{
    display: flex; /*画像と本文横並び*/
    gap: 16px;
    align-items: flex-start;
    max-width: none;
}

.review-image img{
    width: 80px; /*画像サイズ確定*/
    height: 60px; 
}

.review-body{
    display: block; /*中身は縦並び*/
}


/*一時保存レビューボタン*/
.draft-button{
    font-size: 14px;
    color: #5aa7c8;
    text-decoration: underline;
    cursor: pointer;
}

.review-list{
    display: block;
}

.review-item{
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
    align-items: flex-start;
}

.review-list-image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    flex-shrink: 0px;
}

.review-button{
    background-color: #bbc3bc;
    padding: 10px 20px; /*ボタン余白*/
    border-radius: 10px;
    color: black;
    text-decoration: none;
    font-weight: bold; /*太文字*/
    white-space: nowrap;
}



/*カテゴリのあとの　|　*/
.category-list li::after{
    content:"|";
    margin: 0 8px;
}

.category-list li:last-child::after{
    content:"";
}


.nav-link{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    text-decoration: none; /*下線削除*/
    color: #4b4b4b; 
    padding: 10px 0; /*上下のパディングでタップしやすい高さ*/
}

body{
    padding-bottom: 60px;
}

.icon{
    display: block;
    width: 24px;
    height: 24px;
    margin-bottom: 2px;

    /*アイコン実態の指定 */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


/*登録ボタン修正*/
.registation-submit{
    background-color: #1e88fa;/*水色*/
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.login-link{
    color: #1e88fa;
}

/*ログインボタン修正*/
.login-submit{
    background-color: #1e88fa;/*水色*/
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
/*クリック時色が変わる*/
.login-submit:hover {
    background-color: #084b92;
}


/* ↓　@@@@@@@ 検索窓とか諸々追記 */
.home-container{
    width: 90%;
    margin: 0 auto;
    padding-top: 0px;
    font-family: "Yu Gothic";
}

.welcom-text{
    font-size: 18px;
    margin-bottom: 10px;
}

.section-title{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.search-area{
    display: flex;
    align-items: center;
    gap: 8px;
}

.search-input{
    width: 70%;
    padding: 10px;
    border: 2px solid #084b92;
    border-radius: 5px;
    font-size:16px;
}

.search-button {
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
} 

/*カテゴリ全体　→　リスト横並び*/
.category-container {
    margin:10px 0;
}

.category-list{
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.category-list li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}

.category-list li a:hover{
    text-decoration: underline;
}

/* ↑　@@@@@@@ 検索窓とか諸々追記 */

@media screen and (min-width: 1024px){
    body{
        font-size : 16px;
        /*pc全画面表示では、固定ヘッダー・フッターの余白を設定*/
        padding: 20px; /*全辺の余白*/
        padding-top: 100px; /*ヘッダーの余白*/
        padding-bottom: 100px; /*フッターの余白*/
    }
    .my-page-container{
        width: 100%;
    }
    
    /* 中段:登録情報の修正・パスワード変更 */
    .button-list.middle {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 20px;
        margin-bottom: 40px;
    }


    /* 下段 */
    .button-list.bottom{
        display: flex;
        justify-content: flex-end;
        list-style: none;
        width: 100%;
    }

    .button-list.top{
        justify-content: center;/*ログアウト中央よせ*/
    }
    .btn{
        text-align: center;/*ボタン幅を広くする*/
    }

}


/*　マイページ用ボタン配置
　　～ｐｃスマホ共通～　*/

.button-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 20px auto;
    gap: 20px;
}

.button-list li{
    width: auto; /*幅maxのボタンを解除*/
}

.button-list .btn{
    width: auto;
}

.button-list.top{
    justify-content: flex-end;
}

.button-list.bottom{
    justify-content: space-between;
}

.btn{
    display:  inline-block;
    background-color: #bbc3bc;
    color: black;
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s;
}

.btn:hover{
    background-color: #bbc3bc;
}


/*上段:ログアウト */
.button-list.top{
    justify-content: flex-end;
    margin-top: -60px;
    margin-right: 30px;
}

/* 下段：レビュー投稿 */
.button-list.bottom{
    justify-content: flex-end;
    margin-right: 30px;
}

.review-actions{
    display: flex;
    justify-content: flex-end; /*右寄せ*/
    gap: 12px; /*ボタン間隔*/
    margin: 16px 0 24px;
}


/*　マイページ　スマホ用ボタンレイアウト　*/
@media screen and (max-width: 600px){
    body {
        font-size: 14px;
        padding: 10px;
        padding-top:  80px;/*ヘッダー予約*/
    }

    .logout-erea {
        position: absolute;
        top: 10px;
        right: 15px;
    }

    .logout-btn {
        padding: 6px 10px;
        font-size: 12px;
    }

    /* マイページ　タイトル中央寄せ */
    .page-title {
        text-align: center;
        font-size: 20px;
        margin: 20px 0 25px;
    }
    /*マイページのレビュー画像*/
    .mypage-review-image{
        width: 30px;
        height: 30px;
        object-fit: cover;
        flex-shrink: 0; /*flex内での拡大を防*/
    }

    .rating-stars{
        color: black;
        font-size: 14px;
    }

    /* 登録情報の変更・パスワードの変更　縦並び */
    .button-list.middle {
        display: flex;
        flex-direction: column; /*横　⇒　縦*/
        align-items: center;/*　中央寄せ　*/
        list-style: none;
        gap: 10px;
        margin-bottom: 30px;
    }


    /* レビュー投稿　中央寄せ（スマホでは右寄せだと狭い） */
    .button-list.bottom {
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0 auto;
    }

    /* 共通ボタンデザイン（大きめ）*/
    .btn {
        display: inline-block;
        text-align: center;
        padding: 10px 0;
        border-radius: 6px;
        font-size: 14px;
    }

/**/
    .product-box{
        display: flex;
        gap: 20px;
        border: 1px solid blue;
        padding: 15px;
        margin-bottom: 20px;
        align-items: flex-start;
    }

    .product-image img{
        width: 220px;
        height: auto;
        object-fit: cover;
        border-radius: 6px;
    }

    .product-info h2 {
        margin-top: 0;
    }


/*「評価：」の全体を横並び*/
    .rating-container{
        display: flex;
        align-items: flex-start; /*上の端揃える*/
        gap: 20px;
    } 

    .rating-label{
        white-space: nowrap;
        font-weight: bold;
    }


/*「評価：」ラジオボタンで縦並び*/
    .rating-options{
        display: flex;
        flex-direction: column; /*縦並び*/
        gap: 6px;
    } /*ラジオボタンの間隔*/ 


    .rating-item{
        display: flex;
        align-items: center;
        gap: 6px;
    }

    .rating-item-box{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 1px dashed #d74576;
        padding: 12px;
        width: 140px;
        height: 140px;
        justify-content: center;
    }

    .image-label{
        font-size: 14px;
        margin-bottom: 6px;
    }
   
    .link-like{
        background: none;
        border: none;
        color: #007bff;
        text-decoration: underline;
        cursor: pointer;
        padding: 0;
    }


    .review-sub-actions{
        margin-top: 12px;
        text-align: center;
        font-size: 14px;
    }


    .link-btn{
        background: none;
        border: none;
        color: #1e88fa;
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px;
    }

   
    .separator{
        margin: 0 8px;
        color:#4b4b4b
    }

    
/*カテゴリ別商品一覧*/
    .product-image{
        height: 120px;
    }
}



/*管理ページ　上段:ボタン */
.button-list.admin-top,
.button-list.admin-middle{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    list-style:none;
    padding-left: 0;
}


.button-list.admin-top .btn,
.button-list.admin-middle .btn{
    flex:1;
    max-width: 150px;
    
    display: flex;           /* ← 必須 */
    justify-content: center; /* 横中央 */
    align-items: center;     /* 縦中央 */
    text-align: center;
} 

/*さいごの段*/
 .submit-actions{
    text-align: center;
    margin-top: 24px;
}

/*投稿ボタン*/
.submit-actions .btn-submit{
    padding: 10px 48px;
    background-color: #1e88fa;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

/*投稿ボタン下のリンク*/
.submit-actions .submit-links{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

 /*リンク*/
.submit-actions .link-cancel,
.submit-actions .link-draft{
    background: none;
    border: none;
    padding: 0;
    color: #1e88fa;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

/*product_detail.html用*/
.product-page + h1 {
    font-size: 18px;   
    margin: 12px 0 16px;
    line-height: 1.4;
}

.product-page{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}


/*カテゴリ別商品一覧*/
.product-grid{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*横方向の制御*/
.product-card{
    display: flex;
    align-items: center;
    gap: 16px;

    border: 1px solid ;
    padding: 10px;
    border-radius: 10px;
}

/*縦方向の制御*/
.product-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-image{
    width: 160px;
    height: 160px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.product-detail-image{
    width: 220px;
    max-width: 100%;
    display: block;
    margin: 0 auto 16px;
}

.product-card a{
    display: flex;
    align-items: center;
    gap: 12px;
}

.product-card  .product-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
    flex-shrink: 0;
    gap: 14px;
}

.product-summary{
    display: flex;
    align-items: flex-start;/*縦位置をそろえる*/
    gap: 16px; /*画像と文字の間隔*/
    margin-bottom: 20px;
}

.product-detail-image{
    width: 120px;
    height: auto;
    object-fit: contain;
    flex-shrink: 0;/*画像つぶれないように*/
}

/*右側の商品名・金額*/
.product-meta{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.product-title{
    font-size: 22px;
    line-height: 1.4;
    margin: 0;/*左余白なし*/
}

.rank-num{
    font-weight: bold;
}

/* モーダル全体（背景の暗幕） */
.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); /*  背景を暗く */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 非表示用 */
.modal.hidden {
  display: none;
}

/* モーダル中身 */
.modal-content {
  background: #fff;    /*  白背景 */
  width: 90%;
  max-width: 500px;
  max-height: 80vh;    /*  画面内に収める */
  overflow-y: auto;    /*  はみ出たらスクロール */
  padding: 30px;
  border-radius: 12px;
  position: relative;
}

.modal-content img {
  width: 100%;
  max-width: 280px;
  height: auto;
  max-height: 40vh;
  object-fit: contain;
  display: block;
  margin: 0 auto 12px;
}

.mypage-review-image{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.favorite-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.review-card{
    padding: 16px 0;
    border-bottom: 1px dashed black; /*点線*/
}

.review-card:last-child{
    border-bottom: none;
}

.rating{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}

.rating-number{
    font-size: 14px;
    color: black;
}

.btn-primary {
  background-color: #1e88e5;   /* 青 */
  color: #fff;                /* 文字は白 */
  border: none;               /* 黒縁を消す */
  }

.btn-primary:hover {
  background-color: #1565c0;  /* 少し濃い青 */
}
