body{
    font-size: 14px; 
    padding: 10px;
    padding-top: 60px; 
}

.containar{
    width: 100%;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #E6E6FA; /* ラベンダー色 */
    color: #fff;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    text-align: center;
    z-index: 1000;
}

.main-header h1 {
    margin: 0;
    font-size: 24px;
}

@media screen and (min-width: 1024px){
    body{
        font-size : 16px;
        padding: 20px;
    }
    .containar{
        width: 100%;
    }
}