{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cosme Vrai</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.googlepis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/CSS2?family=Playfair+Display=swap" rel="stylesheet">
    </head>
    
    <body class="{% block body_class %}{% endblock %}">    
        <!--共通　ヘッダー（固定）-->
        <header class="main-header">
            <h1 class="header-title">
                <a href="{% url 'form_app:home' %}">Cosme Vrai</a>
            </h1>

            {% if user.is_authenticated %}
                <a href="{% url 'form_app:logout' %}"class="header-logout-btn" onclick="return confirm('ログアウトしますか？')">ログアウト</a>
            {% else %}
                <a href="{% url 'form_app:login' %}"class="header-logout-btn">ログイン</a>            
            {% endif %}
        </header>
    
        <!--子テンプレ内容を定義-->
        <main class="main-content">
            {% block content %}
            {% endblock content %}
        </main>    

        <!--フッター固定-->    
        <footer class="mobile-footer-nav">
            <ul class="nav-list">
                <!--常時表示ホーム、ランキング、お気に入り-->
                <li class="nav-item">
                    <a href="{% url 'form_app:home' %}" class="nav-link">
                        <span class ="emoji">🏠</span>
                        <span>ホーム</span>
                    </a>       
                </li>
                <li class="nav-item">
                    <a href="{% url 'form_app:ranking_all' %}" class="nav-link">
                        <span class ="emoji">👑</span>
                        <span>ランキング</span>
                    </a>       
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        <a href="{% url 'form_app:favorite_review_list' %}" class="nav-link">♡<br>お気に入り</a>
                    {% else %}
                        <a href="{% url 'form_app:login' %}?next={% url 'form_app:favorite_review_list' %}">♡<br>お気に入り</a>
                    {% endif %}   
                </li>                          

                <!--認証状態に応じて、マイページ-->
                <li class="nav-item">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <!--管理者-->
                            <a class="nav-link text-center" href="{% url 'form_app:admin_my_page'%}">👤<br>運営ページ</a>
                        {% else %}
                            <!--一般ユーザー-->
                            <a class="nav-link text-center" href="{% url 'form_app:my_page' %}">👤<br>マイページ</a>
                        {% endif %}
                    
                    {% else %}
                        <!--未ログイン-->    
                        <a class="nav-link text-center" href="{% url 'form_app:login' %}">ログイン</a>
                    {% endif %}
                </li>
            </ul>
        </footer>

        {% block extra_js %}{% endblock %}
        
    </body>
</html>