{% extends "base.html" %}
{% block content %}

<h1>登録情報の修正</h1>

<form method="post">
    {% csrf_token %}




    <div class="section">
        <p>ユーザー名：{{ user_form.username.value }}<br><small>※修正不可</small></p>
        <p>メールアドレス：{{ user_form.email.value }}<br><small>※修正不可</small></p>
    </div>

    <div class="section">
        <p>年代：{{ profile_form.age }}</p>
        <p>性別（非公開）：{{ profile_form.gender }}</p>
        <p>肌質：{{ profile_form.skin_type }}</p>
    </div>

    <button type="submit" class="btn btn-primary">保存</button>
</form>

{% endblock %}