{% extends "base.html" %}
{% block content %}

<h1>パスワード変更</h1>

<form method="post">
    {% csrf_token %}

    <p>
        現在のパスワード<br>
        {{ form.old_password }}
    </p>

    <p>
        新しいパスワード<br>
        {{ form.new_password1 }}<br>
        <small class="help">
            {{ form.new_password1.help_text }}
        </small>
    </p>


    <p>
        新しいパスワード（確認用）<br>
        {{ form.new_password2 }}<br>
        <small class="help">
            {{ form.new_password2.help_text }}
        </small>
    </p>

    <button type="submit" class="btn-primary">変更する</button><br>
    <a href="{% url 'form_app:my_page' %}" class="link-cancel">キャンセル</a>
</form>

{% endblock %}