<!--base.htmlを継承-->
{% extends 'base.html' %}
{% block content %}

<h1>コスメ選択</h1>

{% if products is not None %}
    {% if products %}
        <ul>
        {% for product in products %}
        
            <div class="product-card">
                <a href="{% url 'form_app:review_create' product.id %}">
                    {% if product.image %}
                        <img src="{{ product.image.url }}" class="product-image">
                    {% endif %}
                    {{ product.cosme_name }}
                </a>
            </div>

        {% endfor %}
        </ul>
    {% else %}
        <p>該当する商品がありません＊</p>
    {% endif %}
{% endif %}

{% endblock content %}